$primary1: #e6f7ff;
$primary2: #bae7ff;
$primary3: #91d5ff;
$primary4: #69c0ff;
$primary5: #40a9ff;
$primary6: #1890ff;
$primary7: #096dd9;
$primary8: #0050b3;
$primary9: #003a8c;
$primary10: #002766;
$primary: #1890ff;
