@import "_colors";

html,
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.dark-mode {
  body {
    background-color: $gray-11;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: $gray-5;
    transition: color 0.2s;
  }
}

.light-mode {
  * {
    transition: background-color 0.2s;
    transition: color 0.2s;
  }
}

code,
pre {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 0.9rem !important;
}
